body {
    
    margin: 20px auto;
    width: 50%;
    max-width: 800px;
    min-width: fit-content;
    border: 3px solid black;
    padding: 5px;
}

header {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    background: darkgreen;
    box-shadow: 0px 0px 8px 0px;
    border-radius: 25px;
    max-width: 800px;
    height: 80px;
    padding: 50px;
    text-align: center;
    align-content: center;

}

hr {
    margin-top: 4px;
    border: 1px solid gray;
}

h1{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    grid-row: 1/2;
    font-size: 65px;
    margin-top: auto;
    margin-bottom: auto;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
}

ul{
    font-size: 1.2em;
    font-family: "Roboto", sans-serif;
}

.main-header{
    margin-bottom: 0px;
}

p {
    font-family: "Roboto", sans-serif;
}

header img {
    max-height:160px;
    grid-column: 2/3;
    grid-row: 0/3;
    border-radius: 1em;
    box-shadow: 5px 5px 15px;
}

#last-modified{
    color:yellow ;
}

footer {
    color: white;
    text-align: center;
    border-radius: 25px;
    max-width: 800px;
    background: darkgreen;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,1);
    padding: 10px;

}
footer a{
    color: white;
}