/* 
Colors
    Primary: #008C67
    Secondary: #F05D23
    Background: #F7F7F2
    Typeface: #261C15
    coolors.co link https://coolors.co/008c67-f7f7f2-261c15-f05d23-f79256
*/
/* 
Typography

    Primary Font(headings, logos): Bold weight 700
    Secondary Font(body): Regular weight 400
    Tertiary (accent) Font(nav menu, CTA button: light weight 300
*/
/* font-family: 'Lato', sans-serif; */