@media screen and (min-width: 600px){
    
    .logo {
        display: block;
    }
    header {
        margin-bottom: 0;
      }
    header h1 {
        display: inline-block;
        /* vertical-align:baseline; */
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .socials {
        display: inline-block; 
        vertical-align:baseline;
        /* margin-left: 1rem; */
    }

    #menu {
		display: none; /* hide hamburger button */
	}

    .navigation {
        flex-direction: row;
        border-radius: 4px 4px 0 0;
    }

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

    .discover-aside div {
        border: 2px solid slategray;
        text-align: center;
        margin-top: 1rem;
    }

    .discover-main {
        display:grid;
        margin-left:1rem;
        grid-template-columns: 1fr 4fr;
    }

    .discover-pics img{
        margin: 0 auto;
        margin-top: 1rem;
        width: 50%;
        display: block;
    }
    .discover-pics img:hover {box-shadow: 0 0 50px #F05D23;}

    #join-button {
        margin-left: .8rem;
      }

}