* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #332f2f;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-scooter {
    margin-right: 0.5rem;
}

.navbar_menu {
    display:flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #d93320;
    color: #fff;
}

.btn:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar_links:hover {
    color: #d93320;
    transition: all 0.3s ease;
}

@media screen and (max-width: 750px){
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5 ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar_menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        /* display: table; */
    }

    #mobile_menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_btn {
        padding-bottom: 2rem;
    }
    
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 80%; */
        height: 70px;
        margin: 0;
    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile_menu.is_active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile_menu.is_active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile_menu.is_active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section */
main {
    background-color: #141414;
}

.main_content h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.main_content h2 {
    font-size: 2rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.main_content p {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
}

.main_btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
    /* padding: 14px 32px; */
    /* margin-top: 2rem; */
    font-size: 1rem;
    background-image: linear-gradient(to top, #d93320 0%, #fe5196 100%);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor:pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main_btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main_btn:after {
    position: absolute;
    content:'';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main_btn:hover {
    color: #fff;
}

.main_btn:hover:after {
    width: 100%;
}

.main_img_container {
    text-align: center;;
}

#main_img {
    max-width: 350px;
    border-radius: 4px;
    /* height: 100%; */
    width: auto;
}

.main_container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
}

.main_content {
    text-align: center;
    margin-bottom: 0;
}

/* Services Section CSS */
.services {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150vh;
}

.services h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-size: 100%;
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.services_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services_card {
    margin: 1rem;
    height: 525px;
    width: 350px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, 
        rgba(0, 0, 0, 0) 0%, 
        rgba(17, 17, 17, 0.6) 100%), 
        url('/final-site/images/scooter.webp');
    background-size: cover;
    position: relative;
    color: #fff;
}

.services_card:nth-child(2) {
    background-image: linear-gradient(to bottom, 
        rgba(0, 0, 0, 0) 0%, 
        rgba(17, 17, 17, 0.6) 100%), 
        url('/final-site/images/beach_jeep_small.webp');
}

.services h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services_card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.services_card button {
    color: #fff;
    /* padding: 10px 20px; */
    border: none;
    outline: none;
    border-radius: 4px;
    background: #d93320;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services_card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

/* Footer CSS */
footer {
    background-color: #332f2f;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer_logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.footer_links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer_link_wrapper {
    display: flex;
    flex-direction: column;
}

.footer_items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer_items h2 {
    margin-bottom: 16px;
}

.footer_items > h2 {
    color: #fff;
}

.footer_items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer_items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
}

.website_rights {
    margin-bottom: 2rem;
    color: #fff;
}


/* Social Icons */
.social_icons_link {
    color: #fff;
    font-size: 24px;
 
}

.social_media {
    max-width: 1000px;
    width: 100%;
}

.social_media_wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 20px auto;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

a:visited i {
    color: white;
}

.social_logo {
    color:#fff;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

form {
    margin: auto;
    max-width: 30rem;
    display: grid;
    color: #fff;
    /* text-align: center; */
}

label {
    margin: 5px 0;
}

#join_button {
    margin-top: 0.5rem;
    padding: 1rem 0;
}

#accommodations_label {
    font-size: 1.5rem;
    margin-top: 1rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, rgb(184, 31, 255) 0%, #21d4fd 100%);    
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

#accommodations {
    padding-bottom: 2rem;
}

.rentals_main h1 {
    font-size: 2.5rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-top: 5rem;
    margin-bottom: 0;
}

.rental_section {
    display: flex;
    flex-direction: column;
    color: #fff;
    /* margin-left: 2rem; */
}

.rental_section img {
    max-width: 100%;
    height: auto;
}

.rental_section h2 {
    /* padding: 2rem 0 0 1rem; */
    font-size: 2.2rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, rgb(184, 31, 255) 0%, #21d4fd 100%);    
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.rentals_main {
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    /* margin: 0 auto; */
}

.reservation_prices::before {
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #e98cae 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    content: "Reservation Prices:";
    /* margin-right: 1rem; */
}

.walk_in_prices::before {
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #e98cae 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    content: "Walk-In Prices:";
    /* margin-right: 1rem; */
}


.reservation_prices {
    margin-top: 1rem;
}

.reservation_prices:first-child::after {
    content: '$';
}

.walk_in_prices {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

#rental_name + p::before {
    content: "Max Persons:";
    margin-right: 1rem;
}

#rental_name {
    font-size: 1.1rem;
    font-weight: bold;
}

/* #Honda_Metropolitan_\(49cc\) {
    box-shadow: 0px 0px 7px 2px lightgray;
} */

section {
    margin-top: 1rem;
    box-shadow: 0px 0px 7px 2px lightgray;
}

.rental_section {
    max-width: 480px;
}

.thanks_main h1 {
    text-align: center;
    margin: 0;
    padding: 5rem auto;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0846af 0%, #dd542aa8 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.thanks_main {
    padding: 20rem 0;
}

.joinform {
 margin-top: 2rem;
}

.joinform fieldset {
    display: grid;
    margin-top: 2rem;
    border: 1px solid #ddd;
    border-radius: 6px;
  }

.joinform fieldset input {
    border-radius: 6px;
}
 
.joinform input:required {
    border: solid 2px red;
    border-radius: 6px;

}

#join_button {
    font-size: 2rem;
    padding: 12px 36px;
    margin: 2.5rem 0;
    /* padding: 14px 32px; */
    /* margin-top: 2rem; */
    background-image: linear-gradient(to top, #d93320 0%, #fe5196 100%);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor:pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

#join_button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}

.joinform legend {
    font-size: 1.5rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, rgb(184, 31, 255) 0%, #21d4fd 100%);    
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

.joinform textarea 
{
    background-color: #eee;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
}

.reservations_main {
    display: grid;
    justify-content: center;
    color: #fff;
}

.reservations_main h1 {
    text-align: center;
    font-size: 2.5rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-top: 5rem;
    margin-bottom: 0;
}

.agreement_info {
    margin-top: 5rem;
}

li {
    /* list-style-type: circle; */
    margin-left: 1.25rem;
}

iframe {
    max-width: 100%;
    /* width: 390px; 
    height:450px;  */
    margin: 10px auto; 
    border-radius: 25px; 
    border: none; 
}

.footer_items {
    margin-bottom: 0;
}