body {
    display: grid;
    margin: 20px auto;
    width: 50%;
    max-width: 800px;
    min-width: fit-content;
    border: 3px solid black;
    padding: 5px;
}

header {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    background: rgb(0, 100, 0);
    border-radius: 25px 25px 0 0;
    max-width: 800px;
    height: 80px;
    padding: 50px;
    text-align: center;
    align-content: center;

}

nav {
    font-family: "Roboto", sans-serif;
    text-align: center;
    background: lightgray;
}

nav a{
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    text-decoration: none;
    font-size: large;
    margin-top: 0px;
}

hr {
    margin-top: 4px;
    border: 1px solid gray;
}

h1{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    grid-row: 1/2;
    font-size: 65px;
    margin-top: auto;
    margin-bottom: auto;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
}

ul{
    font-size: 1.2em;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
}

.main-header{
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

p {
    font-family: "Roboto", sans-serif;
}

header img {
    max-height:160px;
    grid-column: 2/3;
    border-radius: 1em;
    box-shadow: 5px 5px 15px;
}

.card li{
 text-align: left;
}

.card {
    text-align: center;
}

.card h3{
    background: darkgreen;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
}

#last-modified{
    color:yellow ;
    margin-bottom: 0;
}

footer {
    color: white;
    text-align: center;
    border-radius: 25px;
    max-width: 800px;
    background: darkgreen;
    padding: 10px;
    font-family: "Roboto", sans-serif;
}

footer p{
    margin-top: 5px;
    margin-bottom: 5px;
}

footer a{
    color: white;
}